<!DOCTYPE html>
<html>
<head>
	<title>APP BUILDINGS</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
        i.icon {
            font-size: 2em;
        }

        .ui.text.container {
            margin-top: 7em;
        }

        .inlinebutton {
            display: inline;
        }
    </style>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Buildings Site</div>
            <a href="/" class="item">Home</a>
            <a href="/buildings/new" class="item">New Building</a>
        </div>
    </div>