<h1>Index</h1>

<% buildingsVar.forEach(function(building){ %>
    <div>   
        <h2><%= building.title  %></h2></br>
        <img src="<%= building.image  %>" ></br>
        <span><%= building.created  %></span></br>
        <p><%= building.description  %></p>
    </div>
<% }); %>