<!DOCTYPE html>
<html>
    <head>
        <title>APP BUILDING</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    
        <style>
                        body {
                            background-color: black;
                        }
                        
                        #landing-header {
                            z-index: 1;
                            position: relative;
                            text-align: center;
                            padding-top: 40vh;
                        }
                        
                        #landing-header h1 {
                            color: #fff;
                        }
                        
                        .slideshow { 
                            position: fixed;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            z-index: 0;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                        }
                        
                        .slideshow li { 
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-size: cover;
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            opacity: 0;
                            z-index: 0;
                            animation: imageAnimation 50s linear infinite; 
                        }
                        
                        .slideshow li:nth-child(1) { 
                            background-image: url(https://images.freeimages.com/images/large-previews/71f/building-1225941.jpg) 
                        }
                        .slideshow li:nth-child(2) { 
                            background-image: url(https://images.freeimages.com/images/small-previews/42b/incendio-edificio-windsor-so-2-1226314.jpg);
                            animation-delay: 10s; 
                        }
                        .slideshow li:nth-child(3) { 
                            background-image: url(https://images.freeimages.com/images/small-previews/5e8/city-buildings-1222423.jpg);
                            animation-delay: 20s; 
                        }
                        .slideshow li:nth-child(4) { 
                            background-image: url(https://images.freeimages.com/images/small-previews/678/building-higher-1485047.jpg);
                            animation-delay: 30s; 
                        }
                        .slideshow li:nth-child(5) { 
                            background-image: url(https://images.freeimages.com/images/small-previews/0cb/miami-building-1216837.jpg);
                            animation-delay: 40s; 
                        }
                        
                        @keyframes imageAnimation { 
                            0% { 
                            opacity: 0; 
                            animation-timing-function: ease-in;
                            }
                            10% {
                            opacity: 1;
                            animation-timing-function: ease-out;
                            }
                            20% {
                            opacity: 1
                            }
                            30% {
                            opacity: 0
                            }
                        }
                        
                        /* Older browser support - class added by modernizr */
                        .no-cssanimations .slideshow li {
                            opacity: 1;
                        }

        </style>
    </head>
    <body>
    


    <div id="landing-header">
            <h1>Welcome to APP BUILDING!</h1>
        <a href="/buildings" class="btn btn-lg btn-success">Check out all buildings</a>
    </div>
    
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>


 
    
