<%- include('partials/header'); -%>

<div class="ui main text container segment">
    <div class="ui huge header">Nuevo Edificio</div>
        <form class="ui form" action="/buildings" method="POST">
            <div class="field">
                <label>Nombre</label>
                <input type="text" name="building[title]" placeholder="Nombre del Edificio">
            </div>
            <div class="field">
                <label>Imagen</label>
                <input type="text" name="building[image]" placeholder="URL Imagen">
            </div>
            <div class="field">
                <label>Descripcion del Edificio</label>
                <textarea name="building[description]"></textarea>
            </div>
            <input class = "ui basic violet button" type="submit">
        </form>
</div>

<%- include('partials/footer'); -%>